body{
    background-color: gray;

}

h1{
    color: white;
    text-align: center;
}
h2{
    color: white;
    text-align: center;
}

#caps{
    background-color:rgb(48, 45, 45);
    text-align: center;
    color: white;
    margin-left: 300px;
    margin-right: 300px;
    border-radius: 10px;
}

#vers{
    background-color:rgb(223, 216, 216);
    text-align: center;
    color: white;
    margin-left: 300px;
    margin-right: 300px;
    border-radius: 10px;
}

#texto{
    background-color:rgb(48, 45, 45);
    color: white;

}

hr{
    background-color: aliceblue;
}

#linkF{
    background-color:rgb(223, 216, 216);
    text-align: center;
    color: white;
    margin-left: 300px;
    margin-right: 300px;
    border-radius: 10px;
}