body{
    background-color: rgb(44, 44, 44);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

table {
    background-color: rgb(255, 255, 255);
    color: black;
    border-collapse: collapse;
    margin: auto;
    padding: 10px;
    border: 3px solid rgb(100, 99, 99);
}

tr.cabecalho {
    padding: 15px;
    background-color: rgb(100, 99, 99);
    color: rgb(233, 232, 232);
}

th {
    padding: 10px;
    color: rgb(233, 232, 232);
}


th.num {
    padding: 15px;
    background-color: rgb(228, 227, 227);
    color: black;
}

th.img {
    border: 1px solid lightgray;
}

td {
    border: 1px solid lightgray;
    padding: 20px;
}

thead {
    position: sticky;
    top: 0px;
}

tbody > tr:hover {
    background-color: rgb(85, 83, 83);
    color:aliceblue;
}